05 0d                               {# Usage Page (Digitizers) #}
09 01                               {# Usage (Digitizer) #}
a1 01                               {# Collection (Application) #}
85 08                               {#   Report ID (8) #}
09 20                               {#   Usage (Stylus) #}
a1 00                               {#   Collection (Physical) #}

{#- Stylus buttons #}
15 00                               {#     Logical Minimum (0) #}
25 01                               {#     Logical Maximum (1) #}
75 01                               {#     Report Size (1) #}
09 42                               {#     Usage (Tip Switch) #}
09 44                               {#     Usage (Barrel Switch) #}
09 5a                               {#     Usage (Secondary Barrel Switch) #}
95 03                               {#     Report Count (3) #}
81 02                               {#     Input (Data,Var,Abs) #}
95 04                               {#     Report Count (4) #}
81 01                               {#     Input (Cnst,Arr,Abs) #}
09 32                               {#     Usage (In Range) #}
95 01                               {#     Report Count (1) #}
81 02                               {#     Input (Data,Var,Abs) #}
75 18                               {#     Report Size (24) #}
95 01                               {#     Report Count (1) #}

{#- Stylus position #}
{%- set x_phys = (x_max * 1000 // resolution) %}
{%- set y_phys = (y_max * 1000 // resolution) %}
a4                                  {#     Push #}
05 01                               {#       Usage Page (Generic Desktop) #}
65 13                               {#       Unit (EnglishLinear: in) #}
55 0d                               {#       Unit Exponent (-3) #}
17 {{ 0 | u32 }}                    {#       Logical Minimum (0) #}
27 {{ x_max | u32 }}                {#       Logical Maximum #}
37 {{ 0 | u32 }}                    {#       Physical Minimum (0) #}
47 {{ x_phys | u32 }}               {#       Physical Maximum #}
09 30                               {#       Usage (X) #}
81 02                               {#       Input (Data,Var,Abs) #}
17 {{ 0 | u32 }}                    {#       Logical Minimum (0) #}
27 {{ y_max | u32 }}                {#       Logical Maximum #}
37 {{ 0 | u32 }}                    {#       Physical Minimum (0) #}
47 {{ y_phys | u32 }}               {#       Physical Maximum #}
09 31                               {#       Usage (Y) #}
81 02                               {#       Input (Data,Var,Abs) #}
b4                                  {#     Pop #}

{#- Stylus pressure #}
16 00 00                            {#     Logical Minimum (0) #}
26 {{ pres_max | u16 }}             {#     Logical Maximum #}
09 30                               {#     Usage (Tip Pressure) #}
75 10                               {#     Report Size (16) #}
95 01                               {#     Report Count (1) #}
81 02                               {#     Input (Data,Var,Abs) #}
75 08                               {#     Report Size (8) #}
95 02                               {#     Report Count (2) #}

{#- Stylus tilt #}
a4                                  {#     Push #}
65 14                               {#       Unit (EnglishRotation: deg) #}
55 00                               {#       Unit Exponent (0) #}
15 c4                               {#       Logical Minimum (-60) #}
35 c4                               {#       Physical Minimum (-60) #}
25 3c                               {#       Logical Maximum (60) #}
45 3c                               {#       Physical Maximum (60) #}
09 3d                               {#       Usage (X Tilt) #}
09 3e                               {#       Usage (Y Tilt) #}
81 02                               {#       Input (Data,Var,Abs) #}
b4                                  {#     Pop #}
c0                                  {#   End Collection #}
c0                                  {# End Collection #}

05 01                               {# Usage Page (Generic Desktop) #}
09 07                               {# Usage (Keypad) #}
{#- Fake stuff to be recognized as a tablet #}
a1 01                               {# Collection (Application) #}
85 03                               {#   Report ID (3) #}
15 00                               {#   Logical Minimum (0) #}
25 01                               {#   Logical Maximum (1) #}
05 0d                               {#   Usage Page (Digitizers) #}
09 39                               {#   Usage (Tablet Function Keys) #}
a1 00                               {#   Collection (Physical) #}
09 44                               {#     Usage (Barrel Switch) #}
95 01                               {#     Report Count (1) #}
75 01                               {#     Report Size (1) #}
81 02                               {#     Input (Data,Var,Abs) #}
95 07                               {#     Report Count (7) #}
81 01                               {#     Input (Cnst,Arr,Abs) #}
05 01                               {#     Usage Page (Generic Desktop) #}
09 30                               {#     Usage (X) #}
09 31                               {#     Usage (Y) #}
95 02                               {#     Report Count (2) #}
75 08                               {#     Report Size (8) #}
81 02                               {#     Input (Data,Var,Abs) #}
c0                                  {#   End Collection #}

{#- Tablet buttons #}
05 09                               {#   Usage Page (Button) #}
19 01                               {#   Usage Minimum (1) #}
29 {{ [num_btns, 10] | min | u8 }}  {#   Usage Maximum (10) #}
95 {{ [num_btns, 10] | min | u8 }}  {#   Report Count (10) #}
75 01                               {#   Report Size (1) #}
81 02                               {#   Input (Data,Var,Abs) #}
{%- if num_btns > 10 %}
05 01                               {#   Usage Page (Generic Desktop) #}
09 05                               {#   Usage (Game Pad) #}
a1 01                               {#   Collection (Application) #}
05 09                               {#     Usage Page (Button) #}
19 01                               {#     Usage Minimum (1) #}
29 {{ (num_btns - 10) | u8 }}       {#     Usage Maximum #}
95 {{ (num_btns - 10) | u8 }}       {#     Report Count #}
81 02                               {#     Input (Data,Var,Abs) #}
c0                                  {#   End Collection #}
{%- endif %}
{%- set btn_bits = 64 %}
95 {{ (btn_bits - num_btns) | u8 }} {#   Report Count #}
81 01                               {#   Input (Cnst,Arr,Abs) #}
c0                                  {# End Collection #}

{#- Touch ring/dial #}
{#- TODO Conditionally include this #}
05 01                               {# Usage Page (Generic Desktop) #}
09 07                               {# Usage (Keypad) #}
a1 01                               {# Collection (Application) #}
{#- __u8 report_id; #}
85 f0                               {#   Report ID (240) #}
15 00                               {#   Logical Minimum (0) #}
25 01                               {#   Logical Maximum (1) #}
05 0d                               {#   Usage Page (Digitizers) #}
09 39                               {#   Usage (Tablet Function Keys) #}
{#- Fake stuff to be recognized as a tablet #}
a1 00                               {#   Collection (Physical) #}
{#- __u8 btn_stylus; // fake #}
05 09                               {#     Usage Page (Buttons) #}
09 01                               {#     Usage (1) #}
95 01                               {#     Report Count (1) #}
75 01                               {#     Report Size (1) #}
81 02                               {#     Input (Data,Var,Abs) #}
95 07                               {#     Report Count (7) #}
{#- __u8 x; __u8 y; // fake #}
81 01                               {#     Input (Cnst,Arr,Abs) #}
05 01                               {#     Usage Page (Generic Desktop) #}
09 30                               {#     Usage (X) #}
09 31                               {#     Usage (Y) #}
75 08                               {#     Report Size (8) #}
95 02                               {#     Report Count (2) #}
81 02                               {#     Input (Data,Var,Abs) #}
{#- __u8 _padding_0; #}
95 01                               {#     Report Count (1) #}
81 01                               {#     Input (Cnst,Arr,Abs) #}
{#- __u8 delta; #}
05 01                               {#     Usage Page (Generic Desktop) #}
09 38                               {#     Usage (Wheel) #}
95 01                               {#     Report Count (1) #}
15 ff                               {#     Logical Minimum (-1) #}
25 01                               {#     Logical Minimum (1) #}
81 06                               {#     Input (Data,Var,Rel) #}
{#- __u8 _padding[6]; #}
c0                                  {#   End Collection #}
75 08                               {#   Report Size (8) #}
95 06                               {#   Report Count (6) #}
81 01                               {#   Input (Cnst,Arr,Abs) #}
c0                                  {# End Collection #}
